HandGesture/HandGesture/obj/Debug/HandGesture.csproj.FileListAbsolute.txt
HandGesture/HandGesture/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HandGesture/HandGesture/bin/Debug/HandGesture.vshost.exe
HandGesture/HandGesture.v12.suo